#amazon{
width: 12%;
}

#text {
    width: 300px;
    margin-left: 4%;
    height: 40px;
}
.line {
    width: 1px;
    height: 25px;
    background-color: rgb(0, 0, 0);
}

#morroco {
 width: 40px;
 height: 40px;
 margin-top: 2px;
}

#shoppingcart {
    width: 30px;
    height: 30px;
    margin-right: -10px;
    margin-top: 4px;
}
.bismiLah2{
    display: flex;
    width: 300px;
    justify-content: space-between;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between ;
}


.bismiLah{
    display: flex;
    margin-left : 15px;
}
hr{
    margin-top: 20px;
}
.table{
    margin-top: 30px;
}
.table td {
    display: flex;
    border: 0.5px solid;
    width: 300px;
    height: 40px;
    align-items: center;
    
}
.table td span {
    padding-left: 25px;
}
.table td img {
    margin-top: -4px ;
    margin-left: 10px;
}
.tableProduit{
    display: flex;
}
.cproduit img {
    width: 1022px;
    height: 530px;
    margin-left: 100px ;
    margin-top: 15px;
}
.cellipse #ellipse{
    width: 20px;
    height: 20px;
}
.produitEllipse .cellipse{
    margin-left: 500px;
    display: flex;
    justify-content:space-between;
    width: 300px;

}

body .article1 .vide {
    background: rgb(210, 210, 210);
    width: 400px;
    height: 410px;

}

.article1 .evaluation .star {
    background: orange;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}
.article1 .evaluation .star span {
    font-size: 20px;
}
.article1 .evaluation .ligne2{
    width: 1px;
    height: 25px;
    background-color: black;
    border: solid;
    border-width: 1px;
}
.article1 .evaluation .mall {
    background: orange;
    width: 35px;
    border-radius: 30px ;
    display: flex;
    justify-content: center;
    height: 25px;
}
.article1 .evaluation .mall img {
    width: 25px;
    height: 25px;
    display: flex;
}

.article1 .evaluation .starflex {
    display: flex;
    justify-content: space-between;
    width: 180px ;
    align-items: center;
}
.article1 .evaluation{
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.pc-underpc .underpc{
    background: rgb(223, 223, 223);
    width: 406px;
}

 .article1 .section1{
    display: flex;
    width: 1700px ;
    justify-content: space-between;
}

.article1 {
    overflow-x: scroll;
    white-space: nowrap;
}
 

/* ---------------------------------------------------------- */

body .article2 .vide {
    background: rgb(210, 210, 210);
    width: 400px;
    height: 425px;

}

.article2 .evaluation .star {
    background: orange;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 15px;
}
.article2 .evaluation .star span {
    font-size: 20px;
}
.article2 .evaluation .ligne2{
    width: 1px;
    height: 25px;
    background-color: black;
    border: solid;
    border-width: 1px;
}
.article2 .evaluation .mall {
    background: orange;
    width: 35px;
    border-radius: 30px ;
    display: flex;
    justify-content: center;
    height: 25px;
}
.article2 .evaluation .mall img {
    width: 25px;
    height: 25px;
    display: flex;
}

.article2 .evaluation .starflex {
    display: flex;
    justify-content: space-between;
    width: 180px ;
    align-items: center;
}
.article2 .evaluation{
    display: flex;
    width: 400px;
    justify-content: space-between;
}

.pc-underpc .underpc{
    background: rgb(239, 237, 237);
    width: 406px;
}

 .article2 .section1{
    display: grid ;
    width: 1650px;
    height: 890px;
    grid-template-columns: repeat(4,auto);
    justify-content: space-between;
    align-content: space-between;
}

.article2 {
    overflow-x: scroll;
    white-space: nowrap;
}

.c2ellipse {
   margin-left: 45%;
    width: 240px ;
    display: flex;
    justify-content: space-between;
}

/* ------------------------------------------ */


footer .about li {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer .about a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

footer .about{
    width: 20%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 40%;
}
footer #copy {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50%;
    color: rgb(99, 99, 144);
}
footer{
    height: 100px;
    background-color: rgb(0, 0, 62);
    padding-top: 10px;
    width: 100%;
}

@media (max-width: 500px) {
    nav{
        width: 90%;
    }
    #text{
        width: 150px;
    }
    .bismiLah2{
        width: 200px;
        gap: 11px;
        margin-left: 30px;
    }
    #amazon{
        width: 37px;
        margin-right: 6px;
    }
    .tableProduit{
        flex-direction: column;
        align-items: center;
    }
    .produitEllipse .cproduit img {
        width:400px;
        height: auto;
        margin-right: 100px;
    }
    .produitEllipse .cellipse{
        margin-right: 490px;
    }
    
    .produitEllipse {
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    
    footer .about {
        width: 100%;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        margin-left: -0px;
    }
    footer #copy {
        text-align: center;
        margin-left: 100px;
    }
} 

   @media (max-width : 770px){
    .tableProduit{
        flex-direction: column;
        align-items: center;
    }
    .produitEllipse .cproduit img {
        width:600px;
        height: auto;
        margin-right: 100px;
    }
    .cellipse{
        margin-left: 250px !important ;
    }
    .c2ellipse{
        width: 100%;
        gap: 12px;
        margin-left: 0px;
        justify-content: center;
        gap: 30Px;
    }
        
    }
    footer .about {
        width: 100%;
        display: flex;
        justify-content: center;
        justify-content: space-evenly;
        margin-left: -0px;
    }
    footer #copy {
        text-align: center;
        margin-left: 100px;
   }