   #amazon{
    width: 12%
    }
    
    #text {
        width: 300px;
        margin-left: 4%;
    }
    .line {
        width: 1px;
        height: 25px;
        background-color: rgb(0, 0, 0);
    }
    
    #morroco {
     width: 40px;
     height: 40px;
     margin-top: 2px;
    }
    
    #shoppingcart {
        width: 30px;
        height: 30px;
        margin-right: -10px;
        margin-top: 4px;
    }
    .bismiLah2{
        display: flex;
        width: 300px;
        justify-content: space-between;
        align-items: center;
    }
    nav {
        display: flex;
        justify-content: space-between ;
    }
    .bismiLah{
        display: flex;
        margin-left : 15px;
    }
    hr{
        margin-top: 20px;
    }
    
    #sort {
        height: 80%;
        width: 50%;
    }
    .resultRecherche p{
        display: inline-block;
    }
    .resultRecherche{
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .resultRecherche span{
        color: rgb(255, 90, 31);
    }
    
    .freeship-circle #circle {
        width: 15px ;
    }
 
    .freeship-circle {
        background-color: rgb(248, 244, 244);
        border-radius: 20px;
        height: 40px;
        border:0.5px solid;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }
    .freeship-circle {
        width: 120px;
    }

    .s-freeship-circle {
        width: 600px;
        display: flex;
        margin-left: 20%;
        justify-content: space-evenly;
    }
    
    .s-freeship-circle .freeship-circle {
        border-width: 1px;
    }
   
        /* --------------------------------------------------------- */

    body .article2 .vide {
        background: rgb(210, 210, 210);
        width: 400px;
        height: 425px;
    
    }
    
    .article2 .evaluation .star {
        background: orange;
        width: 80px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        border-radius: 15px;
    }
    .article2 .evaluation .star span {
        font-size: 20px;
    }
    .article2 .evaluation .ligne2{
        width: 1px;
        height: 25px;
        background-color: black;
        border: solid;
        border-width: 1px;
    }
    .article2 .evaluation .mall {
        background: orange;
        width: 35px;
        border-radius: 30px ;
        display: flex;
        justify-content: center;
        height: 25px;
    }
    .article2 .evaluation .mall img {
        width: 25px;
        height: 25px;
        display: flex;
    }
    
    .article2 .evaluation .starflex {
        display: flex;
        justify-content: space-between;
        width: 180px ;
        align-items: center;
    }
    .article2 .evaluation{
        display: flex;
        width: 400px;
        justify-content: space-between;
    }
    
    .pc-underpc .underpc{
        background: rgb(234, 231, 231);
        width: 406px;
    }
    
     .article2 .section1{
        display: grid ;
        width: 100%;
        height: fit-content;
        grid-template-columns: repeat(4,auto);
        justify-content: space-between;
        align-content: space-between;
        gap: 20px;
        margin-left :60px ;
        margin-bottom: 40px ;
    }
    
    .article2 {
        overflow-x: scroll ;
        white-space: nowrap;
    }

    .c2ellipse {
       margin-left: 45%;
        width: 240px ;
        display: flex;
        justify-content: space-between;
    }
    
    /* ------------------------------------------ */
 
   main {
    display: flex;
    margin-top : 40px;
   }

   /* --------------------------------------------- */

   
footer .about li {
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
footer .about a {
    text-decoration: none;
    font-size: 18px;
    color: white;
}

footer .about{
    width: 20%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin-left: 41%;
}
footer #copy {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50%;
    color: rgb(99, 99, 144);
}
footer{
    height: 100px;
    background-color: rgb(0, 0, 62);
    padding-top: 10px;
    width: 100%;

}
  
    @media (max-width: 500px) {
        nav{
            width: 90%;
        }
        #text{
            width: 150px;
        }
        .bismiLah2{
            width: 200px;
            gap: 11px;
            margin-left: 30px;
        }
        #amazon{
            width: 37px;
            margin-right: 6px;
        }
        .tableProduit{
            flex-direction: column;
            align-items: center;
        }
        .produitEllipse .cproduit img {
            width:400px;
            height: auto;
            margin-right: 100px;
        }
        .produitEllipse .cellipse{
            margin-right: 490px;
        }
        
        .produitEllipse {
            display: flex;
            flex-direction:column;
            align-items: center;
        }
    }

    @media  (max-width : 500px) {
        .resultRecherche{
             width: 100%;
             justify-content: initial;
             gap: 15px;
        }
        
        .resultRecherche p{
            font-size: 13px;
        }

        .resultRecherche option {
            font-size: 11Px;
        }

        .resultRecherche #selection{
            font-size: 11Px;
        }
        
        .s-freeship-circle{
            display: none;
        }
    }

    @media  (max-width : 500px) {
       
        main {
           flex-direction: column;
           margin-top: -35px;
        }

        .article1 {
           padding-top:Px;
        }
        
        .article1 ul{
           font-size: 12px;
           display: flex;
        }

        .article1 ul li {
            margin-bottom:-40px;
        }
        .article2 {
            margin-top: 18px;
        }
    }

       