*{
    margin: 0;
    padding: 0;
}

header .prodact .vide {
    width: 110px;
    height: 95px;
    background: rgb(225, 225, 225);
}

header .prodact .select {
    width: 100px;
    text-align: center;
    border-radius: 10Px;
    background: rgb(246, 239, 239);
}

header .prodact {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 12px;
    margin-top: 20px;
}
 
/* icon */

header .icon .heart-trash img {
    width: 15px;
}
header .icon .heart-trash {
    display: flex;
    justify-content: center;
    margin-top: 12px;
}

header .icon .nombrePiece img{
    width: 17px;
    height: 17px;
}

header .icon .nombrePiece {
    width: 60px;
    display: flex;
    justify-content: space-between;
}

header .icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

header .prodact-icon{
    display: flex;
    width: 30%;
    justify-content: space-between;
}
